/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for CELIA processes
 */

params {

  /*
  General parameters
  */
  name = "default"
  // Analyzed project name
  projectName = "default"
  // Raw data directory
  rawdata_dir = "${baseDir}/training_dataset/*_R{1,2}*.fastq.gz"
  // Output directory to publish workflow results
  outdir = "${baseDir}/results_${projectName}"

  /*
  Steps to activate or deactivate
  */
  quality_check_enable = true
  quality_check_post_enable = true
  ani_enable = false
  plasmid_enable = false
  annotation_enable = true
  antibiotics_enable = false
  seabiomics_enable = false

  /*
  Genome assembly
  */
  // Minimal output contig length
  min_ctg_length = "500"
  assembly_mode = "normal"

  /*
  Detection of vector contamination using BlastN and Univec DB (2017)
  */
  // Univec DB path
  univec_db = "/home/ref-bioinfo/tools_data/uniVec/UniVec"
  // Blast outformat
  outfmt = "'6 qaccver saccver pident length mismatch gapopen qstart qend sstart send evalue bitscore score qlen'"

  /*
  BUSCO quality check
  */
  odb_path = "/home/ref-bioinfo/tools_data/busco/v5"
  odb_name = "campylobacterales_odb10"

  /*
  FastANI
  */
  ani_db = "${baseDir}/training_dataset/ani.lst"

  /*
  Platon
  */
  platon_db = "/home/ref-bioinfo/tools_data/platon/20200425/"
  platon_mode = "accuracy"

  /*
  Structural and functional annotation
  */
  center = "Ifremer"
  evalue = "1e-06"
  kingdom = "Bacteria" //Archaea|Bacteria|Mitochondria|Viruses
  gcode = "11"

  /*
  Antibiotics and secondary metabolite
  */
  taxon = "bacteria" //bacteria|fungi
  genefinding = "prodigal" //glimmerhmm|prodigal|prodigal-m|none|error

}
