// Define parameters that will be accessible in nextflow pipeline script
params {
    // ProjectName
    projectName = "test_dataset"
    // projectName = "CampyShell"

    // General settings
    rawdata_dir = "${baseDir}/training_dataset/*_R{1,2}*.fastq.gz"
    outdir = "${baseDir}/CELIA_results_on_${projectName}"

    // rawdata_dir = "/home1/datawork/acormier/dyneco/3-Campyshell/0-data/tmp/*_R{1,2}*.fastq.gz"
    // outdir = "/home1/datawork/acormier/dyneco/3-Campyshell/CELIA_on_${projectName}"

    // Outputs directory names
    steps_data = "01_steps-dir"
    //publish_dirname = "02_publish-dir"
    //
    quality_check_dirname = "${steps_data}/01_quality_check"
    quality_merge_dirname = "${steps_data}/02_quality_merge"
    //
    assembly_dirname = "${steps_data}/03_assembly"
    //
    contamination_check_dirname = "${steps_data}/04_contamination_check"
    contamination_rm_dirname = "${steps_data}/05_contamination_rm"
    //
    assembly_completness_dirname = "${steps_data}/06_assembly_completness"
    wgs_similarity_ANI_dirname = "${steps_data}/07_wgs_similarity_ANI"
    assembly_mapping_dirname = "${steps_data}/08_assembly_mapping"
    assembly_coverage_dirname = "${steps_data}/09_assembly_coverage"
    //
    gene_prediction_dirname = "${steps_data}/10_gene_prediction"

    // Tools conda environments to create before execution
    bandage_env = ". ${baseDir}/config/conda_envs/bandage_env.sh"
    biopython_env = ". ${baseDir}/config/conda_envs/biopython_env.sh"
    blast_env = ". ${baseDir}/config/conda_envs/blast_env.sh"
    bowtie2_env = ". ${baseDir}/config/conda_envs/bowtie2_env.sh"
    busco_env = ". ${baseDir}/config/conda_envs/busco_env.sh"
    fastani_env = ". ${baseDir}/config/conda_envs/fastANI_env.sh"
    fastqc_env = ". ${baseDir}/config/conda_envs/fastqc_env.sh"
    mosdepth_env = ". ${baseDir}/config/conda_envs/mosdepth_env.sh"
    multiqc_env = ". ${baseDir}/config/conda_envs/multiqc_env.sh"
    prokka_env = ". ${baseDir}/config/conda_envs/prokka_env.sh"
    samtools_env = ". ${baseDir}/config/conda_envs/samtools_env.sh"
    shovill_env = ". ${baseDir}/config/conda_envs/shovill_env.sh"
    unicycler_env = ". ${baseDir}/config/conda_envs/unicycler_env.sh"

    // Detection of vector contamination using BlastN and Univec DB (2017)
    blast {
        // Bank used
        univec_db = "/home/ref-bioinfo/tools_data/uniVec/UniVec"
        outfmt = "'6 qaccver saccver pident length mismatch gapopen qstart qend sstart send evalue bitscore score qlen'"
    }

    // Parameter for genome assembly
    unicycler {
        // Minimal fasta length to keep
        min_fasta_length = "500"
    }

    shovill {
        // Minimal fasta length to keep
        min_fasta_length = "500"
    }


    busco {
      db_path = "/home/ref-bioinfo/tools_data/busco/v4"
      db_name = "campylobacterales_odb10"
    }

    fastani {
      db = "${baseDir}/training_dataset/ani.lst"
    }

    prokka {
      center = "Ifremer"
      evalue = "1e-06"
      kingdom = "Bacteria" //Archaea|Bacteria|Mitochondria|Viruses
      gcode = "11"
      min_contig_length = "500"
    }
}
