// Define parameters that will be accessible in nextflow pipeline script
params {
    // ProjectName
    projectName = "test_dataset"

    // General settings
    rawdata_dir = "${baseDir}/test_dataset/*_R{1,2}.fastq.gz"
    outdir = "${baseDir}/CELIA_results_on_${projectName}"

    // Outputs directory names
    steps_data = "01_steps-dir"
    publish_dirname = "02_publish-dir"
    //
    quality_check_dirname = "${steps_data}/01_quality_check"
    quality_merge_dirname = "${steps_data}/02_quality_merge"
    //
    assembly_dirname = "${steps_data}/03_assembly"
    //
    contamination_check_dirname = "${steps_data}/04_contamination_check"
    contamination_rm_dirname = "${steps_data}/05_contamination_rm"
    //
    assembly_completness_dirname = "${steps_data}/06_assembly_completness"
    wgs_similarity_ANI_dirname = "${steps_data}/07_wgs_similarity_ANI"
    assembly_mapping_dirname = "${steps_data}/08_assembly_mapping"
    assembly_coverage_dirname = "${steps_data}/09_assembly_coverage"

    // Steps to activate or deactivate
    // Take into account the results of the quality control, if necessary modify the default parameters of the filtering process before launching the following steps
    //filtering_process_enable = true
    //rRNA_filtering_enable = true
    //tax_assign_enable = true
    //viral_reads_enable = true
    //assembly_enable = true

    // Tools conda environments to create before execution
    biopython_env = ". ${baseDir}/config/conda_envs/biopython_env.sh"
    blast_env = ". ${baseDir}/config/conda_envs/blast_env.sh"
    bowtie2_env = ". ${baseDir}/config/conda_envs/bowtie2_env.sh"
    busco_env = ". ${baseDir}/config/conda_envs/busco_env.sh"
    fastani_env = ". ${baseDir}/config/conda_envs/fastANI_env.sh"
    fastqc_env = ". ${baseDir}/config/conda_envs/fastqc_env.sh"
    mosdepth_env = ". ${baseDir}/config/conda_envs/mosdepth_env.sh"
    multiqc_env = ". ${baseDir}/config/conda_envs/multiqc_env.sh"
    samtools_env = ". ${baseDir}/config/conda_envs/samtools_env.sh"
    unicycler_env = ". ${baseDir}/config/conda_envs/unicyler_env.sh"

    // Detection of vector contamination using BlastN and Univec DB (2017)
    blast_univec_process {
        // Bank used
        univec_db = "/home/ref-bioinfo/tools_data/uniVec/UniVec"
        reward = "1"
        penalty = "5"
        gapopen = "3"
        gapextend = "3"
        dust = "yes"
        soft_masking = "true"
        evalue = "700"
        searchsp = "1750000000000"
        outfmt = "6"
    }

    // Parameter for genome assembly
    assembly_process {
        // Minimal fasta length to keep
        min_fasta_length = "500"
    }
}
