// Define the executor = cluster scheduler
executor {
    // Check in nextflow documentation the scheduler name to match your cluster scheduler system
    name = 'pbspro'
    // According to your scheduler, adjust the exit time out (need to be high for pbspro)
    exitReadTimeout = '1440min'
}

// Define process selector for tasks resources
process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // Default for all tasks
    cpus = 1
    queue = 'sequentiel'
    memory = '5GB'
    time = '00:05:00'

    // ClusterOptions can be used to add some native specifications not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    withName : fastqc {
        cpus = 4
        memory = '2GB'
        queue = 'omp'
        time = '00:30:00'
    }

    withName : unicycler {
        cpus = 20
        queue = 'omp'
        memory = '40GB'
        time = '4:00:00'
    }

    withName : bowtie2 {
        cpus = 10
        memory = '20GB'
        queue = 'omp'
        time = '02:00:00'
    }

    withName : busco {
        cpus = 8
        memory = '20GB'
        queue = 'omp'
        time = '01:00:00'
    }
}
