// Define the executor = cluster scheduler
executor {
    // Check in nextflow documentation the scheduler name to match your cluster scheduler system
    name = 'pbspro'
    // According to your scheduler, adjust the exit time out (need to be high for pbspro)
    exitReadTimeout = '1440min'
}

// Define process selector for tasks resources
process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // Default for all tasks (to adapt according to your cluster queues configuration)
    cpus = 1
    queue = 'sequentiel'
    memory = '5GB'
    time = '00:05:00'

    // ClusterOptions can be used to add some native specifications not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    // Fastqc process resources : to adapt according to your scheduler queues configuration
    withName : fastqc_quality_process {
        cpus = 5
        memory = '2GB'
        queue = 'omp'
        time = '00:15:00'
    }

    // Assembly viral reads process resources : to adapt according to your scheduler queues configuration
    withName : assembly_process {
        cpus = 10
        queue = 'omp'
        memory = '40GB'
        time = '24:00:00'
    }
}
